<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="coursePageMemberModel">
<head>
<title>早早课堂</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="3rd party/bower_components/jquery/dist/jquery.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">

    <script src="3rd party/bower_components/angular/angular.min.js"></script>
    <script src="public/js/course_page_member.js" type="text/javascript"></script>

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>


<body>

<nav class="navbar navbar-zaozao">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" id="icon-bar-zaozao"></span>
        <span class="icon-bar" id="icon-bar-zaozao"></span>
        <span class="icon-bar" id="icon-bar-zaozao"></span>
      </button>
      <a class="navbar-brand navbar-brand-zaozao" href="course_home_page.html"><img src="images/favicon.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" id="dropdown-zaozao"data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">早早课堂 <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-zaozao">
            <li class="dropdown-menu-zaozao-text"><a href="course_page_member.html">育教课程</a></li>
            <li class="dropdown-menu-zaozao-text"><a href="zhinengfazhanlichengbei_member.html">智能发展里程碑</a></li>
            <li class="dropdown-menu-zaozao-text"><a href="fumuxueyuan_member.html">父母学院</a></li>
            <li class="dropdown-menu-zaozao-text"><a href="yingyangjiankang_member.html">营养健康</a></li>
            <li class="dropdown-menu-zaozao-text"><a href="wanjutuijian_member.html">玩具推荐</a></li>
          </ul>
        </li>
        <li class="header-zaozao"><a href="tourists_appointment.html">预约课程 <span class="sr-only">(current)</span></a></li>
        <li class="header-zaozao"><a href="course_purchase.html">购买服务</a></li>
        <li class="header-zaozao"><a href="about_us.html">关于我们</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control search-zaozao" placeholder="">
        </div>
        <button type="submit" class="btn btn-default search-btn-zaozao" style="padding-top: 2px">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
            <li class="header-zaozao"><a href="#">微信登录</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row" ng-controller='CoursePageMemberController'>
  <div class="col-md-10">
    <h2>今日课堂</h2>
  </div>

  <div class="col-md-4" ng-repeat='courseCategory in courseCategories'>
    <div class="thumbnail thumbnail-zaozao">
      <div class="grow"><a href="article_detail_page_img.html#?id={{courseCategory.id}}"><img ng-src="{{courseCategory.titleImagePath}}" alt="..."></a></div>
      <div class="caption">
        <div class="thumbnail-title"><a href="article_detail_page_img.html#?id={{courseCategory.id}}"><h3>{{courseCategory.name}}</h3></a></div>
        <hr>
        <p>{{courseCategory.introduction}}</p>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-10">
    <h2>往日课程</h2>
  </div>

  <div class="col-md-4" ng-repeat='historyCourseCategory in historyCourseCategories'>
    <div class="thumbnail thumbnail-zaozao">
      <div class="grow"><a href="article_detail_page_img.html#?id={{courseCategory.id}}"><img ng-src="{{historyCourseCategory.titleImagePath}}" alt="..."></a></div>
      <div class="caption">
        <div class="thumbnail-title"><a href="article_detail_page_img.html#?id={{courseCategory.id}}"><h3>{{historyCourseCategory.name}}</h3></a></div>
        <hr>
        <p>{{historyCourseCategory.introduction}}</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-3">
    <i class="fa fa-hand-pointer-o fa-5x"></i>
    <div class="thumbnail-title"><a href="zhinengfazhanlichengbei_member.html"><h3>智能发展里程碑</h3></a></div>
  </div>
  <div class="col-md-3">
    <i class="fa fa-user fa-5x"></i>
    <div class="thumbnail-title"><a href="fumuxueyuan_member.html"><h3>父母学院</h3></a></div>
  </div>
  <div class="col-md-3">
    <i class="fa fa-coffee fa-5x"></i>
    <div class="thumbnail-title"><a href="yingyangjiankang_member.html"><h3>营养健康</h3></a></div>
  </div>
  <div class="col-md-3">
    <i class="fa fa-empire fa-5x"></i>
    <div class="thumbnail-title"><a href="wanjutuijian_member.html"><h3>玩具推荐</h3></a></div>
  </div>
</div>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>


</body>
</html>